.header {
  background-color: #8f929d; /* Gray */
  color: #fff;
  padding: 1rem;
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-around;
}

.nav-container a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
}

.nav-container a:hover {
  background-color: #555;
  border-radius: 4px;
}